body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}
a.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}
footer {
    border-top: 1px solid #333;
}

.fw-bold {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

.lead {
    font-size: 1.2rem;
    color: #666;
}



.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}

.card-text {
    font-size: 0.95rem;
    color: #e1dede;
}

.btn-primary {
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

.btn-danger {
    background-color: #ef4444;
    border-color: #ef4444;
}

.btn-primary:hover,
.btn-danger:hover {
    opacity: 0.9;
}


.card-img-top {
    width: 100%; /* Ensure full width */
    object-fit:contain; /* Preserve the aspect ratio and show the entire image */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


